{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    {{ if isset .Params "image" }}
    <div class="project-header-image" ><img src="{{ .Params.image }}"></img></div>
    {{ end }}
    <h2 class="mb-0 project-header-text"><span class="text-primary">{{ .Title }}</span></h2>
    {{ .Content }}
    {{ with .Params.link }}<p>Project link: <a href="{{ . }}">{{ . }}</a></p>{{ end }}
    {{ partial "techtags" . }}
  </div>
</section>
{{ end }}
