<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto" id="skills-content">
    <h2 class="mb-5">Skills</h2>
    {{ range $.Site.Data.skills }}
        <div class="subheading mb-3 skills-heading">{{ .grouping }}</div>
            <ul>
            {{ range .skills }}
                {{ if isset . "name" }}
                    {{ $icon := "devicon devicon-devicon-plain"}}
                    {{ if (isset . "icon")}}
                      {{ if (in $.Site.Data.devicons (lower .icon)) }}
                        {{ $icon = (printf "%s%s%s" "devicon devicon-" .icon "-plain")}}
                      {{ else if (in $.Site.Data.fabicons (lower .icon)) }}
                        {{ $icon = (printf "%s%s" "fab fa-" .icon)}}
                      {{ else if (in $.Site.Data.faricons (lower .icon)) }}
                        {{ $icon = (printf "%s%s" "far fa-" .icon)}}
                      {{ else if (in $.Site.Data.fasicons (lower .icon)) }}
                        {{ $icon = (printf "%s%s" "fas fa-" .icon)}}
                      {{ else if (in $.Site.Data.devicons (lower .name))}}
                        {{ $icon = (printf "%s%s%s" "devicon devicon-" (lower .name) "-plain")}}
                      {{ end }}
                    {{ end }}
                    <li class="list-inline-item">
                      <i class="{{ $icon }}"></i>
                      {{if isset . "link"}}
                          <a href="{{.link}}">{{ .name }}</a>
                      {{ else }}
                          {{ .name }}
                      {{ end }}
                    </li>
                {{ else }}
                  <li class="list-inline-item">
                    <i class="devicon devicon-{{ cond (in $.Site.Data.devicons (lower .)) (lower .) "devicon" }}-plain"></i>
                    {{ . }}
                  </li>
                {{ end }}
            {{ end }}
            </ul>
    {{ end }}
  </div>
</section>
